<div id="success-card" class="card border-primary mb-3">
  <div class="card-body">
    <h4 class="card-title">Success!</h4>
    <p class="card-text">Your price file for <strong><%= customerId %></strong> has been sent to <strong><%= userEmail %></strong></p>
    <small>To request another price file <a href="/">click here</a></small>
  </div>
</div>