body {
  font-family: sans-serif;
}

.navbar-dark .navbar-brand {
  margin: 0 auto;
  letter-spacing: 2px;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 0;
}

.alert {
  padding: 3px;
  font-size: 14px;
}

.alert-dismissible .close {
  padding: 3px
}

.alert-success {
  padding: 10px;
}

.alert-success .close {
  padding: 10px;
}

#msg-card {
  text-align: center;
  margin: 0 auto;
  max-width: 29rem;
}

#download-link {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  transition: transform .2s linear;
}

#download-link:hover {
  transform: scale(1.1);
}

.download-complete-msg {
  font-size: 28px;
  font-weight: bold;
  color: green;
}